 body{
     margin:0;
     font-family: 'Roboto', sans-serif;
     /* font-weight:light; */
 }

 /* Header */

 header{
    
    background: #F8F8F8;
    box-shadow: 2px 2px 10px #666;  
    display:grid;
    grid-template: 1fr  / 1fr;
    justify-items: center;
 }


 .container-header{
    grid-column: 1 / -1;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    max-width: 1000px;
 }

.logo-container{
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

header figure{
    grid-column: 1 /2;
    margin: 0 ;
    padding: 10px;
 
}

header img{
    
 
    border-radius: 30px;
    padding: 0;
    max-width: 80px;
    width: 100%; 
    

}

.title-header{
 
    font-size: 2em;
    margin: 0;
    padding: 0;
    min-width: 400px;
    color:#499C27;
 
}

 
.nav {
     
 
    align-self: center;
    grid-column: 2 / -1;
    justify-self: stretch;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li{
    margin: 1%;
}

.nav ul a{
    border-radius: 30px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 1.2em;
    color:#499C27;
    text-decoration: none;
 
    
}

.nav ul a:hover{
    background: white;
    border:1px solid rgba(73, 156, 39,1);
}


 /* Hero */

 .hero{
 
    margin-top: 60px;
    background: rgba(73, 156, 39,1);
    display: grid;
    grid-template: 1fr / 1fr  1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 60px;   
 }


.hero .hero-title{
 
    color:white;
    margin: 0;
    /* border:1px solid purple; */
    font-size: 1.5em;
    font-weight: bold;
    text-align: end;
}

 .hero figure {
 
    margin: 0;
    padding: 0px;
    overflow: hidden;
    max-height: 350px;
    justify-self: stretch;
 
 }

 .hero figure img{
    width: 100%;
 }



 
 /* Projects */


.project-container{
    
    /* border:1px solid red; */
    margin-top:100px;
    display:flex;
    flex-direction:column;
     
    align-items: stretch;
}

.projects-container-title{
    font-size: 2em;
    color:#499C27;
    /* border:1px solid red; */
    text-align: center;
}



.project{
    display: flex;
    justify-content: center; 
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 20px solid rgba(65,152,39,0.5);
    border-right: 20px solid rgba(65,152,39,0.5);
    padding: 75px 0 ;
    margin: 75px 0; 
    
    
}

.project-detail{
    
    width: 35%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    
}

.project-title{
    align-self: center;
    margin-top: 0;
    color:#499C27;
    font-size: 1em;
}


.project-url a{
    font-family: Raleway , Arial, Helvetica, sans-serif;
    color:black;
    text-decoration: none;
    font-size: 1em;

}

.project-url a:hover{
    font-family: Raleway , Arial, Helvetica, sans-serif;
    color:#499C27;
    text-decoration: none;

}


.project-text{
    font-family:  Raleway ,Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
}

.project-web-img{
    display: flex;
    align-items: center;
    margin:0;
    width: 35%;
    /* border:1px solid red; */
    
    border-radius: 10px;
}

.project img{
    max-width: 100%;
    border:5px solid #b8b4b4;
    object-fit: cover;
}

.event-list{
    display: flex;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: center;
      
}

/* Eventos */

.container-events{
    /* border:1px solid red; */
    display: inherit;
    flex-wrap: wrap;
    width: 1000px;
    margin-bottom: 50px;
    
}

.event-list-title{
    /* color:rgba(65,152,39,0.5); */
    color:#499C27;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.event{
    /* border: 1px solid red;  */
    margin: 10px; 
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background:rgb(248, 248, 248);
    
}


 

.event-img{
     
    /* border: 1px solid green; */
    /* width: 100%; */
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
     margin: -60px 20px 15px;
     text-align: center;
     background: white;
     position: relative;
     padding: 25px;
     height: 220px;
     box-shadow: 2px 2px 10px #666;  
     border-radius: 10px;
    /* border: 1px solid red; */
    
    
}

.event-title{
    /* border: 1px solid red; */
    font-size: 25px;
    /* color: rgba(65,152,39,0.5); */
    color:#499C27;
}

.event-text{
    /* border: 1px solid red;  */
    margin-bottom: 30px;
}


.event-url{
    border: 1px solid rgba(65,152,39,0.5);
    border: 1px solid #499C27;
    text-decoration: none;
    /* color: rgba(65,152,39,0.5); */
    color:#499C27;
    padding: 10px;
    border-radius: 10px;
    
}

/* Contacto */

.container-contact{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 50px 0;
    
}

.contact{
    background: #499C27;
    border-top:25px solid rgb(187, 211, 177);
    height: 150px;
    color:#F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    
}

.contact-form{
    /* border:1px solid red; */
    display: inherit;
    flex-direction: column;
    align-items: center;
    
}

.contact-title{
     /* border:1px solid red; */
     font-size: 30px;
     
     margin:10px ;
}

.contact-input{
     /* border:1px solid red; */
     border:transparent;
     border-radius: 5px;
     width: 200px;
     margin: 5px;
     padding: 5px;
     text-align: center;
}

.contact-buttom{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    border:1px solid white;
    width: 100px;
    background: transparent;
    
}


.social{
    /* border: 1px solid red;  */
    width: 480px;
    display: inherit;
    justify-content: space-evenly;
 

}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border: 1px solid green; */
    background-size: 50px;
}

.social-link.twitter{
    
    background-image: url(../img/twitter.svg);
}

.social-link.facebook{
    
    background-image: url(../img/facebook.svg);
}

.social-link.github{
    
    background-image: url(../img/github.svg);
}

.social-link.instagram{
    
    background-image: url(../img/instagram.svg);
}


/* footer */
.footer {
    border-top:1px solid rgb(63, 148, 29);
    /* border-top:1px solid black; */
    background: #499C27;
    /* height: 100px; */
    

}

.container-footer{
    /* border:1px solid red; */
    width: 1000px;
    display: inherit;
    flex-direction: column;
    align-items: center;
     
    
}


.urls-pag {
    /* border:1px solid red; */
    margin: 35px 0;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.urls-pag a{
    /* border:1px solid red; */
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 5px;

}

.container-promo{
    /* border:1px solid red; */
    width: 1000px;
 
    display: flex;
    justify-content: center;
     
     
    
}

.footer .promo{
    /* border:1px solid red; */
    font-family: sans-serif;
    color: white;
    /* font-size: 14px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-right: 25px; */
    border-top: 10px solid rgb(61, 133, 32);
    /* border:1px solid red; */
    background: rgb(37, 90, 16);
    height: 50px;
}

@media screen and (max-width: 1439px){
   
    .project-detail{
        max-width: 25%;
    }
    .project-web-img{
        width: 60%;
    }

}

@media screen and (max-width: 1024px){
     
    .title-header {
        font-size: 1.7em;
        min-width: initial;
        color: #499C27;
    }

    .hero .hero-title{
        font-size: 1.3em;
    }

    .hero figure img{
        width: initial;
    }

    .project-detail{
        max-width: 30%;
    }
    .project-web-img{
        width: 50%;
    }

 }

 @media screen and (max-width: 767px){

    .container-header {
        grid-template: 1fr 1fr /  1fr;
        max-width: 1000px;
    }

    .logo-container {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
    }

    .nav {
        align-self: center;
        grid-column: 1 / -1;
        justify-self: stretch;
    }

    .hero{
        
        grid-template: 1fr / 1fr;
         
    }

    .hero .hero-title{
        grid-column: 1/-1;
        grid-row: 1/-1;
        z-index: 2;
        font-size: 1.6em;
        text-shadow: 2px 2px 10px #666;  
    }

    .hero figure{
        grid-column: 1/-1;
        grid-row: 1/-1;
        z-index: 1;
    }
    .hero figure img{
        width: 100%;
     }

    .project{
        flex-direction: column;
        align-items: center;
        border:0;
        
    }

    .projects-container-title{
 
        text-align: center;
    }

    .project-detail{
        width: initial;
        max-width: 480px;
    }

    .project-web-img{
        width: initial;
        max-width: 95%;
    }

 }



 @media screen and (max-width: 480px){

    .nav ul a {

        border-radius: 30px;
        padding: 5px 5px;
        font-weight: 700;
        font-size: 1.0em;
        color: #499C27;
        text-decoration: none;
    }

    
    .logo-container {

        flex-direction: column;
    }

    .title-header {
        font-size: 1.5em;
    }

    .hero figure img {
        width: initial;
        height: 100%;
    }

    .hero .hero-title{
 
        font-size: 1.1em;
    }
 }
    

 @media screen and (max-width: 320px){


 }